body {
    background-color: #FFD8BE;
    -webkit-background-color: #FFD8BE;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 99%;
    height: 99%;
    -webkit-width: 99%;
    -webkit-height: 99%;
    margin: 0;
    padding: 0;
}

#Container{
    /* background: black; */
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    border: black;
    border-bottom-width: 12.5px;
    border-top-width: 12.5px;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    /* background: black; */
}
#Container div {
    box-sizing: border-box;
    border-style: solid;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 9fr 1fr;
    /* background: black; */
}

#StoryContainerNumber1{
    border-color: #c13346;
}
#StoryContainerNumber2{
    border-color: #06a9ae;
}
#StoryContainerNumber3{
    border-color: #5883ad;
}

#Container div header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    padding: 10px;
}

#Container div button{
    position: relative;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    height: 50px;
    width: 80%;
    background-color: #FFD8BE; /* Green */
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #008CBA;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

#Container div button:hover{
    background: #008CBA;
}

#HeaderText{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%,-25%);
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align: center;
}


@media only screen and (max-width: 1000px){
    #HeaderText{
        font-size: 35px;
    }
    #Container div header{
        font-size: 25px;
    }
}

@media only screen and (max-height: 700px){
    #Container{
        top: 100%;
        left: 50%;
        transform: translate(-50%,-100%);
    }
}

@media only screen and (min-width: 1000px) and (max-height: 700px){
    #HeaderText{
        font-size: 35px;
    }
    #Container div header{
        font-size: 25px;
    }
    #Container{
        top: 100%;
        left: 50%;
        transform: translate(-50%,-100%);
    }
}

@media only screen and (max-height:500px) and (max-width:700px){
    #HeaderText{
        font-size: 25px;
    }
    #Container div header{
        font-size: 15px;
    }
    #Container div button{
        font-size: 10px;
    }
}