body {
    background-color: #FFD8BE;
    -webkit-background-color: #FFD8BE;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 100%;
    -webkit-width: 99%;
    -webkit-height: 99%;
    margin: 0;
    padding: 0;
    overflow: visible;
}

#Header{
    box-sizing: border-box;
    position: relative;
    width: 99%;
    height: 750px;
}

#HeaderContent #HeaderImg{
    position: absolute;
    /* left: 100%; */
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 100%;
    background-image: url("https://i.ytimg.com/vi/5qonK2rq1mQ/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

#HeaderContent #HeaderText{
    position: relative;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 75px;
    text-align: center;
}

#Content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    padding: 20px;
    background: #ebeff0;
}

content div{
    position: relative;
    background: white;
    padding: 10px;
    font-size:x-large;
    text-align: center;
}

#footer{
    width: 75%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    font-style: italic;
}

@media only screen and (max-width:1000px) and (min-width:600px){
    #HeaderContent #HeaderText{
        font-size:50px;
    }
    #Header{
        height: 400px;
    }
}

@media only screen and (max-width: 600px){
    #HeaderContent #HeaderImg{
        top: 30%;
    }
    content{
        top: 50%;
    }
    footer{
        top: 2500px;
        height: 256px;
    }
    #HeaderContent #HeaderText{
        font-size: 25px;
    }
    content div {
        font-size: 20px;
    }
    #Header{
        height: 225px;
    }
}